
<header class="main-header clearfix">
    <h1>Leffat</h1>

    {{#if session.isAuthenticated}}
        <button {{action 'signOut'}} class="log-out">Kirjaudu ulos</button>
    {{else}}
        <form class="login-form" {{action 'signIn' 'password' on='submit'}}>

            <h3>Kirjautuminen</h3>

            <label>Sähköposti: {{input type='email' value=email}}</label>
            <label>Salasana: {{input type='password' value=password}}</label>
            <input type="submit" value="Kirjaudu">
        </form>
    {{/if}}
</header>

{{#if session.isAuthenticated}}
    <p>Lisää uusi leffa <button {{action 'addNewMovie'}} class="log-out">lisää</button></p>
{{/if}}

<ul class="new-movie-list movie-list">
    {{#each newMovies as |movie|}}
    <li>
        {{edit-movie-item
            movie=movie
            title=movie.title
            link=movie.link
            notes=movie.notes
            watchDate=movie.watchDate
            setWatchDate='setWatchDate'
            saveMovie='saveMovie'
            cancelEdit='cancelEdit'
        }}
    </li>
    {{/each}}
</ul>

<ul class="movie-list">
    {{#each sortedMovies as |movie|}}
    <li class="movie-item basic-container clearfix">
        {{#if movie.editing}}
            {{edit-movie-item
                movie=movie
                title=movie.title
                link=movie.link
                notes=movie.notes
                watchDate=movie.watchDate
                setWatchDate='setWatchDate'
                saveMovie='saveMovie'
                cancelEdit='cancelEdit'
                deleteMovie='deleteMovie'
            }}
        {{else}}
            {{movie-item
                session=session
                movie=movie
                editMovie='editMovie'
            }}
        {{/if}}
    </li>
    {{/each}}
</ul>

<footer class="main-footer">

</footer>

{{outlet}}