
<h1>Leffat</h1>

<hr>

<ul class="movie-list">
{{#each model as |movie|}}

    {{#if movie.editing}}
        {{edit-movie-item
            movie=movie
            title=movie.title
            link=movie.link
            notes=movie.notes
            saveMovie='saveMovie'
            cancelEdit='cancelEdit'
        }}
    {{else}}
        {{#unless movie.isNew}}
        {{movie-item
            movie=movie
            editMovie='editMovie'
        }}
        {{/unless}}
    {{/if}}
{{/each}}
</ul>

<hr>

{{edit-movie-item
    title=title
    link=link
    notes=notes
    saveMovie='saveMovie'
}}

<hr>

{{#if session.isAuthenticated}}
    <button {{action 'signOut'}} class="log-out">Kirjaudu ulos</button>
{{else}}
    <form class="login-form" {{action 'signIn' 'password' on='submit'}}>

        <h3>Kirjautuminen</h3>

        <label>Sähköposti: {{input type='email' value=email}}</label>
        <label>Salasana: {{input type='password' value=password}}</label>
        <input type="submit" value="Kirjaudu">
    </form>
{{/if}}

{{outlet}}